<!DOCTYPE html>
<html lang="en">
  <%-include partials/head.ejs-%>
  <style type="text/css">
     .bg1{
   


    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/6.jpg"); /* The least supported option. */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
        
      }
  </style>
<body class=" hold-transition sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse">
<div class="wrapper">
  <!-- Navbar -->
  <%-include partials/navbar.ejs-%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%-include partials/sidebar.ejs-%>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
     <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Your Messages</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item "><a href="/dashboard2">Home</a></li>
              <li class="breadcrumb-item"><a href="/assigned2">Assigned Issues</a></li>
              <li class="breadcrumb-item "><a href="/completed2">Completed</a></li>
              <li class="breadcrumb-item "><a href="/issues2">New Issues</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
          
   


 



 <section class="content">
      <div class="container-fluid">
        <div class="">
          
            
            <!-- /.card -->

            <div class="card">
              <div class="card-header bg-warning">
                <h3 class="card-title">VIEW REQUEST</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead class="bg-warning">
                  <tr>
                    <th>ID</th>
                    <th>SENDER</th>
                    <th>MESSAGE</th>
                    <th>TIME</th>
                    <th>DATE</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                  </tr>
                  </thead>
                  <tbody>
                    <%  view.map((row) => { %>
                    <tr>
                      <td><%= row.id%></td>
                      <td><%= row.sent_by %></td>                   
                      <td><%= row.message%></td>
                      <td><%= row.time%></td>  
                      <td><%= row.date%></td>  
                      <td align="center">
                         <% if(row.seen_status == 0){ %>  

                          <span class="badge bg-danger">YOU HAVE NOT READ</span>

                           <% } else{ %>  
                        <span class="badge bg-success">YOU HAVE READ</span>
                            <% } %>
                      </td>
                      <td>
                       


                      

                      <div align="center" >
                         <% if(row.seen_status == 0){ %>  
                         <a class="btn btn-outline-primary mx-2 " href="/status/<%=row.id%>?status=0" onclick="return confirm('Mark as read?');" style="border-radius: 100%"><i class="fa fa-eye"></i>
                       </a> 
                          <% } else{ %>  
                       
                      <a class="btn btn-outline-danger" href="/status/<%=row.id%>?status=1" onclick="return confirm('Sure you want to delete?');"><i class="fa fa-trash"></i></a>
                      </div>
                      <% } %>

                      

                    </div>
                      </td>   
                                                                                                    
                   
                    </tr>
                    <% }) %>
                  
                
                  </tbody>
                  <tfoot class="bg-warning">
                  <tr>
                    <th>ID</th>
                    <th>SENDER</th>
                    <th>MESSAGE</th>
                    <th>TIME</th>
                    <th>DATE</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
     
      <!-- /.container-fluid -->
    </section>
      </div>
      <!-- /.timeline -->

    <!-- </section> -->
  <!-- /.card -->
</div>
<!-- /.col -->

<!-- /.content-wrapper -->


<!-- /.control-sidebar -->

<!-- Main Footer -->
<%-include partials/footer.ejs-%>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<%-include partials/scripts.ejs-%>
</body>
</html>





