<form method="POST">
    <div>Name<input  name="name" value="<%= details.name%>" ></div>
    <div><input  name="id" value="<%= details.id%>"></div>
    <div>Email<input name="email" value="<%= details.email%>"></div>
    <div>Phone<input  name="phone" value="<%= details.phone%>"></div>
    <div>Problem<input name="issue" value="<%= details.issue%>"></div>
    <div>Assigned To<input  name="assigned_to" value="<%= details.assigned_to%>"></div>
    <button>save</button>
    <input type="hidden" name="" value="<%= details.id%>">



</form>